body{
    background: rgb(207, 219, 33);
    text-align: center;
}

h1{
    color: rgb(17, 0, 255);
    font-family: fantasy;
    font-size: 40px;
}

h2{
    color: rgb(255, 102, 0);
    font-family: cursive;
    font-size: 40px; 
}

p{
    color: rgb(0, 26, 255);
    font-family: cursive;
    font-size: 20px; 
}

h5{
    text-align: right; 
    font-style: italic;
}
img{
    height: 200px;
    width: 50%;
    border-radius: 30px;
    border-style: dashed;
    border-width: 5px;
    border-color: blueviolet;
}